out/
build/
cmake-build-*/

.vs/

*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

.ninja_deps
.ninja_log

.DS_Store
Thumbs.db